.quick-input-widget {
    top: auto !important;
    width: 75% !important;
    margin-left: 2px !important;
    left: 0 !important;
    overflow-x: auto !important;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    margin-bottom: 24px;
    position: absolute;
}

.quick-input-widget .monaco-inputbox {
    border-radius: 10px !important;
    font-size: 14px !important;
}

.quick-input-list {
    display: flex;
    flex-direction: column-reverse !important;
    justify-content: flex-end !important;
}

.quick-input-widget .quick-input-action {
    font-size: 10px !important;
}

.quick-input-widget .monaco-list-rows {
    font-size: 10px !important;
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: flex-end !important;
}

.quick-input-widget .monaco-list-row {
    height: auto !important;
    flex: 0 0 auto !important;
}

.quick-input-widget .quick-input-list-entry {
    position: relative;
}


.quick-input-widget .quick-input-list-entry .codicon[class*=codicon-] {
    font-size: 14px;
}

.quick-input-widget .quick-input-list .quick-input-list-entry.quick-input-list-separator-border {
    border-top-width: 0px !important;
}

.quick-input-widget .quick-input-list .quick-input-list-label-meta .monaco-highlighted-label:before {
    content: ' ▸ ';
}